books.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BookCatalogue" type="BookCatalogueType"/>
  <xs:complexType name="CostType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="currency" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BookType">
    <xs:sequence>
      <xs:element name="Title">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Yogasana Vijnana: the Science of Yoga"/>
            <xs:enumeration value="The First and Last Freedom"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Author">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Dhirendra Brahmachari"/>
            <xs:enumeration value="J. Krishnamurti"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Date">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1966"/>
            <xs:enumeration value="1954"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ISBN">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="81-40-34319-4"/>
            <xs:enumeration value="0-06-064831-7"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Publisher">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Dhirendra Yoga Publications"/>
            <xs:enumeration value="Harper &amp; Row"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="CostType" name="Cost"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BookCatalogueType">
    <xs:sequence>
      <xs:element type="BookType" name="Book" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>